<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mariomunozmyaplication.gestionatunegocio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- PERMISO PARA ABRIR LA CAMARA -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconogestyc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconogestyc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestiona1">

        <activity android:name=".producto.DetallesProducto" />
        <activity android:name=".empleado.DetallesEmpleadoActivity" />
        <activity android:name=".producto.AddProductoActivity" />
        <activity android:name=".empleado.AddEmpleadoActivity" />
        <activity android:name=".Co" />

        <activity
            android:name=".OlvidarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Gestiona" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:theme="@style/Theme.Gestiona" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Gestiona2" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Gestiona">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>